---
import GitHub from "./icons/GitHub.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  POWERBI: {
    name: "PowerBi",
    class: "bg-yellow-600 text-white font-semibold",
  },
  EXCEL: {
    name: "Ms Excel",
    class: "bg-green-600 text-white font-semibold",
  },
}
const PROJECTS = [
  {
    title: "PowerBI Report",
    description:
      "Dashboard interactivo de PowerBI de un departamento de ventas. Se realizo un proceso ETL (Extract, transform, load) para la limpieza y una visualización dinámica.",
    link: "https://app.powerbi.com/view?r=eyJrIjoiNDJmNWU4YTQtYTVhYS00NDdlLTliODItZGYyZjI1MzI4YTAxIiwidCI6IjI5NjQxMTY5LTExODYtNDc2Mi1iYzI2LTRhOWY2NDg1ZmU4NSJ9&embedImagePlaceholder=true&pageName=ReportSection&classId=0c6428b8-3a07-4853-a9fa-bdc427356fc8&assignmentId=f25436d6-e95e-40cf-9691-437b5ec09567&submissionId=01ae2ab0-e59b-264f-a7af-0586e4e4c7b5",
    github: "#",
    image: "/projects/powerbi-project.webp",
    tags: [TAGS.POWERBI, TAGS.EXCEL],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Reporte de Business Intelligence" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          )}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



